h1 {color: orangered;
    background-color:purple ;}
    h2 { color:rebeccapurple;
    background-color: orangered;}
    li { color:black;
    background-color:black;}
    ol li:hover {background-color: blueviolet;
    color: orangered;}
    h3 {color: orangered;
    background-color: purple;}
    div {background-color:brown;}
        